/*----------- Chat Page ------------*/

#UsuariosAtivos,
#ComandosImplemantados {
    border-bottom: 2px solid #99b9f1;
    height: 71vh;
    overflow: auto;
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.Geral {
    background-color: #e8effc;
    height: 100%;
    font-family: 'Nova Flat', cursive;
    color: #384760;
    border-bottom: 5px solid #99b9f1;
}

ul {
    list-style-type: none;
}

#ComandosImplemantados>ul>li,
#UsuariosAtivos>ul>li {
    font-size: 16px;
}

.DadosEsquerda {
    float: left;
    width: 20%;
    height: 93vh;
    border-right: 5px solid #99b9f1;
}

#DadosUsuario {
    width: 100%;
    height: 8vh;
    overflow: auto;
    padding: 2px;
    padding-left: 5px;
    display: inline-block;
    margin-top: 0;
}

.Titulo {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #99b9f1;
    background-color: #c6d8f7;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    font-size: 18px;
    padding: 3px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Usuario {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.Configuracoes {
    float: right;
}

.Botao {
    background-color: #99b9f1;
    border-radius: 15px;
}

#DadosServer {
    width: 100%;
    height: 8vh;
    overflow: auto;
    display: inline-block;
    margin-top: 0;
    padding-left: 5px;
}

#HistoricoChat {
    padding: 10px;
    height: 85vh;
    overflow: auto;
    padding: 5px;
}

.Conversa {
    border: 2px solid #fff;
    margin: 5px;
    height: 98%;
    text-align: right;
    background-color: #f7fafd;
    padding: 5px;
    border-radius: 8px;
}

.Mensagem {
    border: 1px dashed #7fa0d8;
    background-color: #d1e0f9;
    margin-bottom: 2px;
    display: block;
    margin-right: 5px;
    padding-right: 5px;
    border-radius: 12px;
}

.Remetente {
    font-size: 13px;
    font-weight: bold;
}

.TextoMensagem {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
}

.MensagemUsuario {
    background-color: #99b9f1;
    !important
}

#EnvioMensagem {
    padding: 10px;
    height: 8vh;
    overflow: auto;
    padding: 5px;
}

#EnviarMensagem {
    margin: 5px;
    width: 95%;
    border: 1px solid #99b9f1;
    background-color: #c6d8f7;
    font-size: 18px;
    border-radius: 12px;
}

.ListaCanais {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 3px solid #2688d2;
}

.CanalAtivo {
    background-color: #2688d2;
    color: #fff;
}

.CanalLink,
.CanalAtivo {
    font-family: 'Nova Flat', cursive;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: none;
}

.CanalLink {
    background-color: #fff;
    color: #0e4e6c;
}

#CanalLinkAdicionar {
    font-family: 'Nova Flat', cursive;
    border-radius: 20px;
    background-color: #fff;
    color: #0e4e6c;
    font-weight: bold;
    margin: -2px;
}

.CanalAtivo .SairCanal {
    background-color: #fff;
    color: #2688d2;
    border-radius: 30px;
    margin-left: 2px;
    padding: 3px;
}

.CanalLink .SairCanal {
    background-color: #2688d2;
    color: #fff;
    border-radius: 30px;
    margin-left: 2px;
    padding: 3px;
}


/*----------- Login ------------*/

.DadosLogin {
    background-color: #8eb2f0;
    margin: 0 auto;
    display: inline-block;
    width: 40vw;
    margin-top: 25vh;
    border-radius: 12px;
    padding: 12px;
}

.GeralLogin {
    text-align: center;
    background-color: #afc9f4;
    font-family: 'Nova Flat', cursive;
    color: #384760;
}

#NomeLogin {
    border: 1px solid #fff;
    border-radius: 8px;
    width: 85%;
    text-align: center;
    height: 25px;
}

#CanalLogin,
#ServidorLogin,
#PortaLogin {
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center;
    height: 25px;
}

#CanalLogin {
    width: 85%;
}

#ServidorLogin,
.ServidorLabel {
    width: 70%;
}

#PortaLogin,
.PortaLabel {
    width: 14%;
}

.ServidorLabel,
.PortaLabel {
    display: inline-block;
}

.BotaoPadrao {
    margin: 12px;
    width: 30%;
    font-family: 'Nova Flat', cursive;
    border-radius: 28px;
    background-color: #fff;
    color: #0e4e6c;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}


/*----------- Modal Mensagem ------------*/

#ModalMensagemPrincipal {
    border: 1px solid #2688d2;
    border-radius: 3px;
    z-index: 1280;
    font-family: 'Nova Flat';
}

#ModalMensagemPrincipal_Header {
    border-bottom: 1px solid #D5E8F7;
    min-height: 16.428571429px;
    padding: 10px;
    background-color: #D5E8F7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#ModalMensagemTituloModal {
    font-size: 18px;
    text-align: center;
    color: #2688d2;
    font-weight: bold;
}

#ModalMensagemPrincipal_Body {
    color: #2688d2;
    text-align: center;
}

#ModalMensagemPrincipal_Footer {
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #D5E8F7;
}

#BotaoFecharModalMensagem {
    margin: 5px;
    background-color: #D5E8F7;
    border: 2px solid #92c3e8;
    color: #2688d2;
    border-radius: 5px;
}

#BotaoFecharModalMensagem:disabled {
    margin: 5px;
    background-color: #e5e5e5;
    border: 2px solid #A8CFED;
    color: #ccc;
    border-radius: 5px;
}

#BotaoFecharModalMensagem:enabled:hover {
    cursor: pointer;
    background-color: #A8CFED;
    border: 2px solid #2688d2;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        padding-top: 130px;
        important!;
        padding-bottom: 130px;
        important!;
    }
}